@media screen and (max-width: 992px) {
    .side-menu {
        display: none;
    }

    .menu {
        gap: 20px;
    }

    .about-team-section {
        padding: 100px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-img {
        width: 80%;
    }

    .about-info {
        width: 80%;
    }

    .works-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
    }

    .we-looking {
        flex-direction: column;
        gap: 40px;
    }

    .we-looking-info {
        width: 100%;
    }

    .we-looking-img {
        width: 100%;
    }

    .family-dentistry {
        width: 80%;
    }

    .review-map-section {
        padding: 70px 30px;
    }

    .review-map-container {
        flex-direction: column;
        align-items: center;
    }

    .review-container,
    .map {
        width: 80%;
        text-align: center;
    }

    .reviewer-rate-name-container {
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .phone-menu {
        display: block;
    }

    .hero-section {
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .hero-info {
        width: 100%;
        text-align: center;
    }
    
    .hero-img {
        width: 50%;
    }

    .qualified-dentists-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-img {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }

    .advantage-item-container {
        grid-template-columns: 1fr;
    }

    .advanced-tech {
        flex-direction: column;
    }

    .advanced-tech-img {
        width: 100%;
    }

    .advanced-tech-info {
        width: 100%;
    }

    .works-container {
        grid-template-columns: 1fr;
        row-gap: 40px;
        margin-top: 40px;
    }

    .we-looking {
        padding: 80px 30px;
    }

    .family-dentistry {
        width: 100%;
    }

    .map iframe {
        height: 400px;
    }

    .our-main-dentist {
        flex-direction: column;
        padding: 50px 30px;
    }

    .our-main-dentist img {
        width: 100%;
        height: 600px;
    }
}

@media screen and (max-width: 576px) {
    .section-title {
        font-size: 1.5rem;
    }
    
    nav {
        padding: 30px 20px 5px;
    }

    .logo a {
        font-size: 1.5rem;
    }

    .phone-menu {
        font-size: 1.5rem;
    }

    .hero-section {
        padding: 80px 0px;
    }

    .hero-img {
        width: 100%;
    }

    .qualified-dentists-container {
        grid-template-columns: 1fr;
    }

    .about-team-section {
        padding: 80px 30px;
    }

    .advanced-tech {
        padding: 80px 0px;
    }

    .work .section-title {
        margin: 20px 0px;
    }

    .we-looking-info .section-title {
        text-align: center;
    }

    .service-time-info-container {
        flex-direction: column;
        gap: 50px;
    }

    .family-dentistry h3,
    .family-dentistry .section-title {
        font-size: 1.3rem;
        line-height: 32px;
    }

    .review-container,
    .map {
        width: 100%;
    }

    .reviewer-rate-name-container {
        flex-direction: column;
        gap: 10px;
    }

    .map iframe {
        height: 300px;
    }

    .our-main-dentist img {
        width: 100%;
        height: 500px;
    }

    .contact-form {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 50px 30px;
    }

    .footer-container {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        text-align: center;
    }
    
}